<mat-toolbar id="mainToolbar" color="primary">
    <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
    Telemedicine Application
    <span class="toolbar-spacer"></span>
  </mat-toolbar>
  
  <mat-sidenav-container id="sidenavContainer" fullscreen>
    <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
      <mat-list id="menus">
        <mat-card>
          <mat-card-header>
            <span mat-card-avatar class="material-icons" style="font-size: 40px;">account_circle</span>
            <mat-card-title>{{chemistName}}</mat-card-title>
            <mat-card-subtitle>{{isDoctorDisplay}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-nav-list class="menu-item">
          <a mat-list-item [routerLink]="'/chemisthome'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home
          </a>
          <div *ngIf="userType == 'Chemist'">
            <a mat-list-item [routerLink]="'/medicine'" [routerLinkActive]="['active']">
                <mat-icon class="home-icon" aria-hidden="false" aria-label="Medicine file icon">medical_services</mat-icon>Medicine
              </a>
          </div>

          <!--<a mat-list-item [routerLink]="'/chatbox'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">chat</mat-icon>Chats
          </a>
          <a mat-list-item [routerLink]="'/videocall'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">duo</mat-icon>Video Call
          </a> -->
          <a mat-list-item [routerLink]="'/myaccount'" [routerLinkActive]="['active']">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">account_circle</mat-icon>My
            Account
          </a>
          <a mat-list-item (click)="authService.SignOut()">
            <mat-icon class="home-icon" aria-hidden="false" aria-label="Example file icon">logout</mat-icon>Sign Out
          </a>
        </mat-nav-list>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 80vh;">
        <div class="container">
          <h2 style="padding-right: 55%;">My Account</h2>
          <br>
          <mat-card class="appointment-card">
            <mat-card-title>Medicine Details</mat-card-title>
            <form>
              <br>
              <div *ngIf="userType == 'Chemist'">
                <mat-form-field class="example-full-width">
                  <mat-label>Medicine Name</mat-label>
                  <input matInput placeholder="Medicine Name" value="{{medName}}" #medname>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Medicine Price</mat-label>
                  <input matInput placeholder="Medicine Price" value="{{medPrice}}" #medprice>
                </mat-form-field>
                <mat-form-field  class="example-full-width">
                  <mat-label>Medicine ExpiryDate</mat-label>
                  <input matInput placeholder="MM/DD/YYY" value="{{medExpiryDate}}"  #medexpirydate>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Medicine Quantity</mat-label>
                  <input matInput placeholder="4" value="{{medQuantity}}" #medquantity>
                </mat-form-field>

                <button type="submit" class="btn btn-danger" (click)="addMedData(medname.value, medprice.value, medexpirydate.value, medquantity.value)">ADD</button>
              </div>

              
            </form>
            <br>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
